<footer class="main-footer">
	<ul class="footer-main-list">
		<li class="list-itens">
			<h2>Sobre</h2>
			Formado em Publicidade e Propaganda, tenho mais de 6 anos de experiência em soluções offline e online <a href="sobre.html">...mais</a>
		</li>
		<li class="list-itens">
			<h2>Navegação</h2>
			<ul>
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/sobre.html">Sobre</a></li>
				<li><a href="{{ site.baseurl }}/trabalhos.html">Trabalhos</a></li>
				<li><a href="{{ site.baseurl }}/contato.html">Contato</a></li>
			</ul>
		</li>
		<li class="list-itens">
			<h2>Habilidades</h2> 
			<p>
				<strong>Técnicas:</strong> HTML, CSS, Java Script, Sass, Analytics, Photoshop, Illustrator
			</p>
			<p>
				<strong>Conhecimentos:</strong> UI Design, Marketing Digital, SEO, Publicidade.
			</p>
		</li>
		<li class="list-itens">
			<h2>Contato</h2>
			<ul>
				<li class="ico-mail"><a href="mailto:bruno@beduardo.com" target="_blank">bruno@beduardo.com</a></li>
				<li class="ico-cell">+55 11 9 8350.8966</li>
			</ul>
		</li>
	</ul>
</footer>
<div class="footer">
desenvolvido por beduardo
</div>
<!-- scripts -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
