<footer class="main-footer">
	<ul class="footer-main-list">
		<li class="list-itens">
			<h2>Navegação</h2>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="sobre.html">Sobre</a></li>
				<li><a href="trabalhos.html">Trabalhos</a></li>
				<li><a href="contato.html">Contato</a></li>
			</ul>
		</li>
		<li class="list-itens">
			<h2>Habilidades</h2> 
			tecnicas e conhecimentos
		</li>
		<li class="list-itens">
			<h2>Contato</h2>
			<ul>
				<li><strong>E-mail:</strong> <a href="mailto:bruno@beduardo.com" target="_blank">bruno@beduardo.com</a></li>
				<li><strong>Celular:</strong> +55 11 9 8350.8966</li>
			</ul>
		</li>
	</ul>
</footer>
<div class="footer">
desenvolvido por beduardo
</div>
<!-- scripts -->
<script src="/js/scripts.js"></script>
