<footer class="main-footer">
	<ul class="footer-main-list">
		<li class="list-itens">
			<h2>About</h2>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget tristique sem.
		</li>
		<li class="list-itens">
			<h2>Navegação</h2>
			<ul>
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/sobre.html">Sobre</a></li>
				<li><a href="{{ site.baseurl }}/trabalhos.html">Trabalhos</a></li>
				<li><a href="{{ site.baseurl }}/contato.html">Contato</a></li>
			</ul>
		</li>
		<li class="list-itens">
			<h2>Skills</h2> 
			<p>
				<strong>Techniques:</strong> HTML, CSS, Java Script, Sass, Analytics, Photoshop, Illustrator
			</p>
			<p>
				<strong>Knowledge:</strong> UI Design, Marketing Digital, SEO, Publicidade.
			</p>
		</li>
		<li class="list-itens">
			<h2>Contact</h2>
			<ul>
				<li class="ico-mail"><a href="#" target="_blank">email@email.com</a></li>
				<li class="ico-cell">+00 00 0 0000.0000</li>
			</ul>
		</li>
	</ul>
</footer>
<div class="footer">
Cop© 2015 
</div>
<!-- scripts -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
